<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Polls</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="icon" href="{% static 'polls/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="logo">
            {% block logo %}<a href="{% url 'polls:index'%}">KU Polls</a>{% endblock %}
        </div>
        <ul class="menu">
            {% block home %}<li><a href="{% url 'polls:index'%}">Home</a></li>{% endblock %}
            {% if user.is_authenticated %}
                {% block logout %}<li><a href="{% url 'logout'%}">Logout</a></li>{% endblock %}
            {% else %}
                {% block signup %}<li><a href="{% url 'signup'%}">Sign up</a></li>{% endblock %}
                {% block login %}<li><a href="{% url 'login'%}">Login</a></li>{% endblock %}
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>